<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Senha alterada</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; text-align: center;">
  <div style="width: 100%; margin: 0 auto; padding: 20px; box-sizing: border-box; text-align: center;">
    <p style="font-size: 24px; font-family: Arial; font-weight: bold;">Senha alterada</p>
    <div style="margin: 10px 0; border-top: 1px solid #eeeeee;"></div>
    <div style="font-size: 16px; font-family: Arial, sans-serif; text-align: center;">
      <p>Olá <b><%= @resource.email %></b>, tudo bem?</p>
      <p>Estamos entrando em contato para notificá-lo de que sua senha foi alterada com sucesso!</p>
      <p>Em caso de problemas, por favor, contate o administrador da conta.</p>
    </div>
  </div>
</body>
</html>
