<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de senha</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; text-align: center;">
  <div style="width: 100%; margin: 0 auto; padding: 20px; box-sizing: border-box; text-align: center;">
    <p style="font-size: 24px; font-family: Arial; font-weight: bold;">Recuperação de senha</p>
    <div style="margin: 10px 0; border-top: 1px solid #eeeeee;"></div>
    <div style="font-size: 16px; font-family: Arial, sans-serif; text-align: center;">
      <p>Olá <b><%= @resource.email %></b>!</p>
      <p>Parece que você esqueceu sua senha né?! Fique tranquilo, você poderá escolher uma nova senha clicando no botão baixo:</p>
      <p><a href="<%= frontend_url('auth/password/edit', reset_password_token: @token) %>" style="display: inline-block; padding: 15px 25px; font-size: 18px; font-family: Arial; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 0;">Mudar minha senha</a></p>
      <p>Se você não solicitou isso, ignore este e-mail. Sua senha não mudará até que você acesse o botão acima e crie uma nova. Em caso de problemas, por favor, contate o administrador da conta.</p>
    </div>
  </div>
</body>
</html>
