<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Conta Bloqueada!</title>
</head>
<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; text-align: center;">
  <div style="width: 100%; margin: 0 auto; padding: 20px; box-sizing: border-box; text-align: center;">
    <p style="font-size: 24px; font-family: Arial; font-weight: bold;">Conta Bloqueada!</p>
    <div style="margin: 10px 0; border-top: 1px solid #eeeeee;"></div>
    <div style="font-size: 16px; font-family: Arial, sans-serif; text-align: center;">
      <p>Olá <b><%= @resource.email %></b>!</p>
      <p>Sua conta foi bloqueada devido a um número excessivo de tentativas de login malsucedidas.</p>
      <p>Clique no botão abaixo para desbloquear sua conta:</p>
      <p><a href="<%= unlock_url(@resource, unlock_token: @token) %>" style="display: inline-block; padding: 15px 25px; font-size: 18px; font-family: Arial; background-color: #007bff; color: #ffffff; text-decoration: none; border-radius: 0;">Desbloquear minha conta</a></p>
      <p>Em caso de problemas, por favor, contate o administrador da conta.</p>
    </div>
  </div>
</body>
</html>
